extends layout

block content
  .row.banner   
    .col-12   
      h1= pageHeader.title
        small &nbsp; #{pageHeader.strapline}


  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") Starcups 

            each location in locations 
              .card 
                .card-block 

                  h4 
                  a(href="/location")= location.name
                  small &nbsp; 
                     - for (let i = 1;, i <= location.rating; i++) 
                        i.fas.fa-star

                     - for (let i = location.rating + 1;, i <= 5; i++) 
                        i.fas.fa-star-half-alt
                        
                    span.badge.badge-pill.badge-default.float-right= location.distance
                    i.fas.fa-star-half-alt
                    p.address= location.address 
                      .facilities 
                        .span.badge.badge-warning= facility 

        
 
  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") OneStopCoffe
            small &nbsp; 
              i.fas.fa-star 
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              p.address 125 High Street, Reading, RG6 1PS 
              p.facilities
                
                span.badge.badge-warning Hot Drinks 
                span.badge.badge-success Food 
                span.badge.badge-primary Power
                span.badge.badge-secondary Wifi
    .col-12.col-md-4 
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
        
   
  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") Burger Queen
            small &nbsp; 
              i.fas.fa-star 
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              p.address 125 High Street, Reading, RG6 1PS 
              p.facilities
                
                span.badge.badge-warning Hot Drinks 
                span.badge.badge-success Food 
                span.badge.badge-primary Power
                span.badge.badge-secondary Wifi
        
